
h5 {
  font-size: 1em;
}

p {
  line-height: 2em;
  font-family: sans-serif;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h2 {
  font-style: italic;
  font-family: serif;
  font-weight: bolder;
  font-size: 2.5em;
}

h3 {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1rem;
}

/* Navigation */
#navigation{
  grid-area: nav;
  z-index: 1000;
  font-family: Helvetica;
  font-weight: 700;
}
.sub-menu ul{
  background-image: repeating-linear-gradient(rgba(0, 0, 0, .25), #ff4079);

}


nav ul {
  background-color: #ff4079;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  padding:.8rem 1rem;
  display: block;
  color: #f9f9f9;
  text-transform: capitalize;

}

nav ul li:hover{
  background: rgba(0, 0, 0, .25)

}



/* Page header area */

.background-image {
  background-image: url("../media/Background-02.png");
  background-size: 100vw;

}

#header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  justify-content: center;
  height: 100%;
  z-index: 2;
  width: 100vw;
}

#header h1 {
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}

#header img {
  width: 100%;
}

.header {
}

.header h1 {
  font-size: 2em;

}

.backgrond {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: black;
  width: 100%;
}

.parallax {
  background-image: url("../media/Hobbit Hole.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

/* Page content area */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: content;
  background-color: lightgrey;
  margin: 0;
  margin-top: -5px;
  padding-left: 10%;
  padding-right: 10%;
  z-index:3;
}


#content > div:first-child {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  background-size: 100vw;
  background-color: lightgrey;
}

#content div:first-child p {
  color: rgb(100, 100, 100);


}



#content > div:last-child {
  margin-bottom: 50px;
  margin-top: 0;
}

#content > div:last-child a {
  padding: 10px;
  background-color: darkgrey;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  border-radius: 50px;
  background-color: black;
  font-family: sans-serif;
  font-weight: 800;
}


#content li {
  list-style: none;
}

#content ul {
  padding: 0;
}

#content img {
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  padding: 10;
  color: #ff4079;
  font-style: italic;
  font-family: sans-serif;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;

}

.code-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-flow: wrap;
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;
}
.code-projects > div {
  width: 33.33333337%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: #ff4079;
}

#content .code-projects div > p {
  padding-right: 30px;
  padding-left: 30px;
  color: white;
}

.art-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-flow: wrap;
}










.link-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ff4079;

  color: white;
  width: 100%
}
.link-button h5 {
  display: inline;
  padding-left: 50px
}
.link-button ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0%;
  height: 75px;
}

.link-button ul:hover {
  width: 110%;
  height: 100px;
  background-image: repeating-linear-gradient(#ff4079, #cd14a7);

}

.white-background {
  width: 100%;
  background-color: white;
}


.link-button ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: White;
  font-size: 1.5rem;
  width: 50%
}
.link-button a {
  text-decoration: none;
  color: White;
}
.link-button img {
  height: 20px;
}

/*conetents form styles*/
input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select  {
  background-color: white;
  border: 0.1rem solid #ff4079;
}

textarea[name="user_message"] {
  resize: vertical;
  max-height: 300px;
}










/* Footer Section */




#footer {
  display: flex;
  grid-area: footer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

#footer h5 {
  display: inline;
  padding-left: 50px
}

#footer ul {
  display: inline;
  padding-right: 50px
}

#footer ul > li {
  display: inline;
  padding: 5px;
  text-decoration: none;
  color: White;
  font-size: 1.5rem;
}

#footer a {
  text-decoration: none;
  color: White;
}

#footer img {
  height: 30px;
}





@media only screen and (min-width:480px){
  nav {
    display: block;
  }

  #navigation div:first-child {
    display:none;
  }
  nav div:first-child {
    display:none;
  }
  nav ul{
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul li{
    position: relative;
    flex:1 0 auto;
    text-align: left;
  }

  .sub-menu ul, .sub-menu ul .sub-menu ul{
    display: none;
    width: 100%;
    position: absolute;
  }
  nav ul li:hover ul, .sub-menu ul .sub-menu:hover ul{
    display: flex;
    flex-direction: column;

  }
  .sub-menu ul .sub-menu ul {
    left: 100%;
    top: 0;
  }

}
@media only screen and (max-width:480px){
  nav {
    display: none;
  }
  #navigation div:first-child {
    display:block;
    background-color: #ff4079;
    width: 100vw;
    height: 100%
  }
  .menuButton{
    left:0;
    top:0;
  }

  nav ul{
    flex-direction: column;
    justify-content: space-between;
  }
  .sub-menu ul li a{
    padding-left: 2rem;
  }
  .sub-menu ul .sub-menu ul{
    padding-left: 3rem
  }
  .sub-menu ul{
    background-color: rgba(0, 0, 0, .25);

  }

}
